html,
body {
  margin: 0;
  font: 12px/20px monospace;
}
.circus {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.circus ul,
.circus li {
  margin: 0;
  padding: 0;
}
.circus li {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  list-style: none;
}
.circus li.red {
  background: #f00;
}
.circus li.green {
  background: #0f0;
  width: 100px;
}
.circus li.blue {
  background: #00f;
  width: 150px;
}
.circus .wrapper {
  position: absolute;
  top: 0;
}
.circus.left .wrapper {
  position: absolute;
  left: 0;
}
.circus.right .wrapper {
  position: absolute;
  right: 0;
}
.circus.right ul li {
  float: right;
}
body {
  padding: 20px;
}
