html, body { margin: 0; font: 12px/20px monospace; }

#circus
{
	width: 200px; height: 50px; margin-bottom: 20px; overflow: hidden; position: relative;
	
	ul,
	li { margin: 0; padding: 0; }
	
	li
	{
		width: 50px; height: 50px; float: left; text-align: center; line-height: 50px; list-style: none;
		
		&.red { background: #f00; }
		&.green { background: #0f0; }
		&.blue { background: #00f; }
	}
}

body { padding: 20px; }